.editor-item-id {
    background    : var(--color-surface-level-3);
    border-top    : 1px solid var(--color-surface-level-3);
    border-bottom : 1px solid var(--color-surface-level-3);
    font-size     : 14px;
    padding       : 0px 10px;
    max-width     : 130px;
    min-width     : 130px;
    width         : 130px;
    text-align    : center;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}
.editor-item.hover .editor-item-id {
    background   : var(--color-hover-image) !important;
    border-color : var(--color-hover-border);
}
.tree-item-reused > td.tree-color {
    background : var(--color-green-600);
}
.pin-drag-handle {
    cursor : grab;
}
#header-related-specification {
    font-size  : 12px;
    opacity    : 0.7;
    margin-top : 2px;
}
#header-related-specification.link {
    cursor         : pointer;
    text-decoration: underline;
}
